<html>

<head>
  <style>
    .box {
      border: 1px solid
    }
  </style>
</head>

<body>
  <h3>Welcome <%= @name %>, lets do some shooting! </h3>
  <table id="battleships_grid" class="box">
    <tr>
      <td colspan="2">BATTLESHIPS</td>
    </tr>
    <tr>
      <td colspan="2">
        <form method="post" action="/fire">
          Enter the coordinate:
          <input type="text" name="coord_input" />
          <button>FIRE</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>Hits: <%= @hits %></td>
      <td>Misses: <%= @misses %></td>
      <td>Misses Opponent: <%= @misses_opponent %></td>
    </tr>
  </table>
</body>

</html>
